<div class="bootbox-body">
    <div class="row">
      <div class="alert alert-danger">Red color is winner</div>
      <div class="score-team1-group col-md-6">
        <legend class="center">Team 1</legend>
        <span class="center">Game 1: <button class="btn-sm btn-{{score_1_1_label}}">{{score_1_1}}</button></span><br>
        <span class="center">Game 2: <button class="btn-sm btn-{{score_1_2_label}}">{{score_1_2}}</button></span><br>
        <span class="center">Game 3: <button class="btn-sm btn-{{score_1_3_label}}">{{score_1_3}}</button></span><br>
      </div>
      <div class="score-team2-group col-md-6">
        <legend class="center">Team 2</legend>
        <span class="center">Game 1: <button class="btn-sm btn-{{score_2_1_label}}">{{score_2_1}}</button></span><br>
        <span class="center">Game 2: <button class="btn-sm btn-{{score_2_2_label}}">{{score_2_2}}</button></span><br>
        <span class="center">Game 3: <button class="btn-sm btn-{{score_2_3_label}}">{{score_2_3}}</button></span><br>
      </div>
    </div>
</div>
