<h2 class="sub-header">
  <div class="pull-left"><%= link_to 'Users List', users_path %></div>
  <div class="center"><%= action_name.capitalize%> User</div>
</h2>
<%= form_for @user, :html => {class: "user_frm"} do |f| %>
  <div class="form-group">
    <% if @user.errors.count > 0 %>
      <div class="row">
        <div class="alert alert-danger" role="alert">
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :first_name, 'First Name<small class="red">*</small>'.html_safe %>
      <%= f.text_field :first_name, class: "form-control", id: "new_talent_first_name" %>
    </div>
    <div class="form-group">
      <%= f.label :last_name, 'Last Name<small class="red">*</small>'.html_safe %>
      <%= f.text_field :last_name, class: "form-control", id: "new_talent_last_name" %>
    </div>
    <div>
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>