<h2 class="sub-header">
  <div class="pull-right"><%= link_to 'New Match', new_match_path, class: 'btn btn-primary' %></div>
  <div class="center">List of Matches</div>
</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Match No</th>
        <th>Team 1</th>
        <th>Team 2</th>
        <th>Result</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @matches.each_with_index do |m, index| %>
        <% result = display_result(m) %>
        <tr>
          <td><%= index.to_i + 1 %></td>
          <td><%= display_team_member(m.team_1) %></td>
          <td><%= display_team_member(m.team_2) %></td>
          <td class="display-result">
            <% if result[:winner].present? %>
              <%= link_to result[:winner], '#', class: 'btn-sm btn-danger'%>
              <%= link_to "#{result[:team_1]} - #{result[:team_2]}", '#', class: 'btn-sm btn-warning scores-detail', data: {id: m.id}%>
            <% else %>
              <%= link_to 'Update Result', '#', class: 'btn-sm btn-info update-result', data: {url: update_result_match_path(m)}%>
            <% end %>
          </td>
          <td>
            <% if m.match_result.nil? %>
              <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_match_path(m), id: 'edit-match' %>
              |
            <% end %>
            <%= link_to '<i class="fa fa-remove red"></i>'.html_safe, match_path(m), method: :delete, data:{confirm: "Are you sure delete this match"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>